RewriteEngine On

# 1. Redirect URL yang mengandung .php ke versi tanpa ekstensi (Untuk SEO)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^\ ]+)\.php
RewriteRule ^/?(.*)\.php$ /$1 [L,R=301]

# 2. Proses URL tanpa ekstensi agar membaca file .php di server
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]